<ion-view title="{{DatoTest}}">

	<ion-content>

	<!-- 	Password: <input type="password" name="pw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"> -->
		
		<div class="list">
  			<label class="item item-input">
    			<input type="text" placeholder="Correo Electrónico" ng-model="usuario.correo">
  			</label>
		  	<label class="item item-input">
		    	<input type="text" placeholder="Nombre" ng-model="usuario.nombre" on-touch="onTouchChar()">
		  	</label>
		  	<label class="item item-input">
		    	<input type="password" placeholder="contraseña" ng-model="usuario.clave" on-touch="onTouch()"></input>
		  	</label>
		  	<label class="item item-divider">
			    <span class="input-label">Elegir tipo de usuario</span>
			</label>
		  	<ion-list> 
			  <ion-radio ng-model="usuario.tipo" ng-value="'cliente'">Cliente</ion-radio>
			  <ion-radio ng-model="usuario.tipo" ng-value="'empleado'">Empleado</ion-radio>
			  <ion-radio ng-model="usuario.tipo" ng-value="'administrador'">Administrador</ion-radio>
			</ion-list>

			<label class="item item-divider">
			    <span class="input-label">Foto</span>
			</label>

			<div class="col"><img class="size" ng-src="imagenes/{{usuario.foto}}">

					<div class="col text-center">
						<button  class="button button-icon icon ion-camera" ng-click="upload()"></button>
					</div>
			</div>

		  	</div>

		  	<div class="row"><button class="button button-block button-positive" type="submit" ng-click="Guardar(usuario)">Guardar</button></div>

			<!--< div class="item item-avatar" ng-repeat="item in uploader.queue">
				<img ng-src="imagenes/pordefecto.png" width="100%" /> -->

		    	

		</div>


	</ion-content>
	

</ion-view>
