<ion-view view-title="Documentación">

  <ion-content>
     <h2><u>Documentación de Plugins</u></h2>
    <p><strong>1) $cordovaCamera :</strong> Se usa en la alta y modificación ya sea usuario o producto para así obtener una foto, se ejecuta cuando se hace click en icono de foto. </p>
    <p><strong>2) $cordovaFileTransfer :</strong> Se usa en la alta y modificación ya sea usuario o producto para poder enviar el archivo de la foto tomada del plugin $cordovaCamera al servidor. </p>
    <p><strong>3) $cordovaBarcodeScanner :</strong> Se ejecuta en la grilla producto para buscarlo al presionar el botón Escanear y en el alta o modificación del producto con un botón.</p>
    <p><strong>4) $cordovaVibration :</strong> Se ejecuta cuando se abre el mapa de google y notifica al usuario está a una distancia menor o igual de 100 mts.</p>
    <p><strong>5) $cordovaDevice :</strong>Se ejecuta en el menú documentación y sierve para informar si el celular cumple con los requirimientos mínimos para que funcione.</p>
    <p><strong>6) $cordovaToast :</strong> Se ejecuta cuando el usuario se logue correctamente mostrando un cartel diciendo:"Bienvenido", en el formulario de alta de usuario y modificar para informar que solamente se puede ingresar números en el campo código de barras cuando se toca el campo gracias al evento on-touch, en el alta y modificación de usuario indicando al campo contraseña y nombre la cantidad de caracteres que se puede ingresar. </p>
    <p><strong>7) $cordovaNativeAudio :</strong> idem $cordovaVibration.</p>
    <p><strong>8) $cordovaGeolocation :</strong> Se ejecuta cuando se abre el mapa de google maps para conocer la ubicación del dispositivo</p>
  </ion-content>
</ion-view>