<ion-view view-title={{titulo}}>

  <ion-content>
     <div class="row header">
  <div class="col"></div>
  <div class="col">Requerimiento</div>
  <div class="col">Su Celular</div> 
    </div>
      <div class="row">
        <div class="col">Marca</div>
  <div class="col">Samsung, LG</div>
  <div class="col"> {{manufacturer}}</div> 
    </div>
      <div class="row">
        <div class="col">Modelo</div>
  <div class="col">S3, G3</div>
  <div class="col"> {{model}}</div> 
    </div>
     <div class="row">
        <div class="col">S.O.</div>
  <div class="col">Android</div>
  <div class="col"> {{platform}}</div> 
    </div>
         <div class="row">
        <div class="col">Versión</div>
  <div class="col">5.0.1</div>
  <div class="col"> {{version}}</div> 
    </div>

    <button class="button button-block button-assertive" ui-sref="Menu.plugins" ng-if="esVisible.cliente || esVisible.empleado">
    Ver Plugins
  </button>
  <button class="button button-block button-assertive" ui-sref="Menu2.plugins" ng-if="esVisible.admin">Ver Plugins</button>
  </ion-content>
</ion-view>
