  <ion-view title="{{DatoTest}}">

 
    <ion-content class="padding">
        <div class="row header">
          <div class="col">Foto </div>
          <div class="col">Nombre</div>
          <div class="col">Precio</div>
          <div class="col" ng-if="esVisible.cliente">Localidad</div>
          <div class="col" ng-if="esVisible.admin || esVisible.empleado">Opciones</div>
        </div>

        
        <label class="item-input">
            
          <i class="icon ion-search  placeholder-icon"></i>
          <input type="search" placeholder="Buscar producto" ng-model="mifiltro"></input>

        </label>

        <label class="item-input">
            
          <button class="button button-block button-positive" ng-click="scanBarCode()">escanear</button>

        </label>
        
        
        <div class="row" on-hold="onTouch(producto)" ng-repeat="producto in ListadoProductos | filter:mifiltro as resultado">
          <div class="col"><img class='fotoGrilla' ng-src="imagenes/{{producto.foto}}"></div>
          <div class="col">{{producto.nombre}}</div>
          <div class="col">${{producto.precio}}</div>
          <div class="col" ng-if="esVisible.cliente">{{producto.localidad}}</div>

          <div class="col" ng-if="esVisible.admin || esVisible.empleado"><button class="button button-icon icon ion-settings" ng-click="showActionsheet(producto)"></button></div>

        </div>

        <div class="row" ng-if="resultado.length == 0">
          <div class="col">No existe producto con ese dato....</div>
        </div>
    </ion-content>

    </ion-view>