<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{DatoTest}}</h1>
    <!-- <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div> -->
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="nombre" id="txtName">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="clave" id="txtClave">
        </label>
            <button class="button button-large" name="empleado" ng-click="cargarEmpleado()">Empleado</button>
            <button class="button button-large" name="Cliente" ng-click="cargarCliente()">Cliente</button>
            <button class="button button-large" name="administrador" ng-click="cargarAdmin()">Admin</button>
        
          <button class="button button-block button-positive" ng-click="Login(nombre, clave)" type="submit">Log in</button>
      </div>
        
    </form>
  </ion-content>
</ion-modal-view>
