<ion-view title="El Mejor Precio">

      <ion-nav-bar class="bar-leandro"></ion-nav-bar>
      <ion-content has-header="true" padding="true">

        
        </p>
        <a class="button button-halfwidth" nav-clear ui-sref="Menu.inicio">Menú inicio</a>
        <a class="button button-halfwidth pull right" nav-clear ui-sref="tab.dash">tabs</a>

        <!-- <iframe src="http://www.msn.com/es-ar/?ocid=mailsignout" width=450 height=250 frameborder=0 allowfullscreen></iframe> -->

      </ion-content>

</ion-view>

<!-- <div align="center"><iframe src="http://sinentradas.blogspot.com" width=450 height=250 frameborder=1 scrolling=auto></iframe></div> -->