<ion-view view-title="Dashboard">

</ion-nav-buttons>
       <ion-nav-buttons side="left">

        <button ui-sref="root" class="button button-icon icon ">root</button>


      </ion-nav-buttons>

  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>

    <label class="item item-input">
  <span class="input-label">Producto</span>
  <input type="text" ng-model="producto.nombre">
  </label>

     <!-- <label class="item item-input item-floating-label">
              <span class="input-label">Producto:</span>
              <input type="text" placeholder="Agregar"  ng-model="producto.nombre" >
              <textarea rows="1" maxlength="666" placeholder="Agregar" required="" ng-model="producto.nombre"></textarea>
     </label> -->


    <h3><span class="ion-social-apple"></span>&nbsp;Lista de productos</h3>
        <!-- <ion-list>
  <ion-item class=item ng-repeat="item in listaProductos">
    {{item.nombre}}
  </ion-item> -->
  </form>
</ion-list>

    <!-- <div ng-controller="ctrlFire" class="container col-md-4 col-md-offset-4">
        <input type="text" class="form-control" ng-model="producto" />
        <div class="text-center">
            <button class="btn btn-success btn-sm" ng-click="agregarProducto()">Agregar</button>
            <button class="btn btn-danger btn-sm" ng-click="eliminarProducto()">Eliminar</button>
        </div>
        <h3><span class="glyphicon glyphicon-apple"></span>&nbsp;Lista de productos</h3>
        <div class="item" ng-repeat="item in listaProductos">
            
        </div>
    </div> -->

    
  </ion-content>
</ion-view>
